<div class="layout-container">

  <!-- Nav bar -->
  <app-nav-bar [sidenav]="sidenav"></app-nav-bar>

  <!-- Side bar -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav">
      <p><button mat-button>Upload</button></p>
      <p><button mat-button>Progress</button></p>
    </mat-sidenav>

    <!-- content -->
    <mat-sidenav-content>
      <div class="content">
        <div class="home" fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="30%" fxFlex.lt-md="100%">
            <app-apk></app-apk>
          </div>

          <div fxFlex="70%" fxFlex.lt-md="100%">
            <app-url></app-url>
          </div>
        </div>

      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
