<mat-card class="card mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>Uploaded APKs</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list *ngFor="let num of [1,2,3,4,5,6,7,8,9]">
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>pepper {{num}}</div>
        <div mat-line>May 3, 2021</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </mat-card-footer>
</mat-card>
