<mat-card class="card mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>APK-v1.1.1</mat-card-title>
    <mat-card-subtitle>URL/IP discovered</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs animationDuration="0ms" mat-align-tabs="center">
      <mat-tab [label]=item.key *ngFor="let item of data | keyvalue">
        <mat-list *ngFor="let value of item.value">
          <mat-list-item>
            <div mat-line>{{ value.link }}</div>
            <div mat-line>{{ value.path }}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </mat-card-footer>
</mat-card>
