<mat-card class="card mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>Uploaded APKs</mat-card-title>
    <mat-card-subtitle>Completed</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div *ngIf="apks.length == 0">
      <mat-list>
        <mat-list-item>No apk</mat-list-item>
      </mat-list>
    </div>
    <mat-action-list *ngFor="let apk of apks">
      <mat-list-item (click)="test()">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{ apk.name }}</div>
        <div mat-line>{{ apk.date }}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-action-list>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </mat-card-footer>
</mat-card>
